@model redfoodie.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
}

<div data-modal-content-container="1" data-modal-wrapper-class="width_300" class="hide" id="Forgot-Password">
    @using (Ajax.BeginForm("ForgotPassword", "Account", new {}, new AjaxOptions { HttpMethod = "POST", OnBegin= "$('#Forgot-Password').loadingIcon('attach');", OnSuccess = "resetPasswordSuccess"}, new { @class = "form-horizontal", role = "form", id = "reset_form" }))
    {
        <div class="pad_0x17 join_form">
            <h3>@ViewBag.Title</h3>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div id="alert"></div>
            <ul class="list-unstyled">
                <li>
                    @Html.LabelFor(m => m.Username)
                    @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                </li>
                <li class="clearfix">
                    <a data-modal-link="1" class="back pull-left" href="#login">Back</a>
                    <button type="submit" class="button pull-right create pos_relative password-reset" id="submit-password-reset">
                        Reset Password
                    </button>
                </li>
            </ul>
        </div>
    }
</div>
<script>
    function resetPasswordSuccess(data) {
        $('#Forgot-Password').loadingIcon('detach');
        if (data.Success) {
            $('#reset_form #alert').noty({
                text: 'Recovery email sent. Please check your inbox to initiate the password recovery process',
                dismissQueue: false,
                timeout: 5000,
                template: '<div class="noty_message confirmation-message" style="margin-bottom:0;"><span class="noty_text"></span></div>'
            });
        }
        else {
            $("#reset_form #Username +span").text(data.ErrorMessage);
        }
    }
</script>