@using redfoodie.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div data-modal-content-container="1" data-modal-wrapper-class="width_350" class="hide login_wrapper" id="login">
    <h3 class="form-signin-heading">@ViewBag.Title</h3>
    <div class="row facebook-link-storage">
        <div class="col-md-10 col-md-offset-1">
            <div class="fb-log-in fb-button"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            @using (Ajax.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "registerSuccess" }, new { role = "form", id = "login_form" }))
            {
                <div id="login_errors" style="display: none">Invalid email or password</div>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.EditorFor(m => m.Email, new {htmlAttributes = new {@class = "form-control input-lg", placeholder = Html.DisplayNameFor(x => x.Email), style = "background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; background-repeat: no-repeat;"}})
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", placeholder = Html.DisplayNameFor(x => x.Password), style = "background-image: url(\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC\"); background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; background-repeat: no-repeat; cursor: auto;" })
                    @Html.ValidationMessagesFor(m => m.Password, new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-lg btn-block form-submit-button" id="redfoodie-user-signin">
                    Log In
                </button>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe, new { style = "font-weight: normal;" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.ActionLink("Forgot password?", "ForgotPassword", null, new { style = "font-size: 15px;", data_modal_link = "1" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <hr class="login_wrapper_hr">
    <div class="row">
        <a data-modal-link="1" href="#Signup">Sign up now »</a>
    </div>
</div>