@using redfoodie.Models
@using redfoodie.Views
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div data-modal-content-container="1" data-modal-wrapper-class="width_350" class="hide login_wrapper" id="login">
    <h3 class="form-signin-heading">@ViewBag.Title</h3>
    <div class="row facebook-link-storage">
        <div class="col-md-10 col-md-offset-1">
            <div class="fb-log-in fb-button"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            @using (Ajax.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, new AjaxOptions { HttpMethod = "POST", OnBegin = "loginBegin", OnSuccess = "loginSuccess" }, new { role = "form", id = "login_form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger", id= "login_errors" })
                <div class="form-group">
                    @Html.EditorFor(m => m.Email, new {htmlAttributes = new {@class = "form-control input-lg", placeholder = Html.DisplayNameFor(x => x.Email) }})
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", placeholder = Html.DisplayNameFor(x => x.Password) })
                    @Html.ValidationMessagesFor(m => m.Password, new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-lg btn-block form-submit-button" id="redfoodie-user-signin">
                    Log In
                </button>
                <div class="row">
                    <div class="col-md-6">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, new { style = "font-weight: normal;" })
                    </div>
                    <div class="col-md-6">
                        <a style = "font-size: 15px;" data-modal-link="1" href="#Forgot-Password">Forgot password?</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <hr class="login_wrapper_hr">
    <div class="row">
        <a data-modal-link="1" href="#Signup">Sign up now »</a>
    </div>
</div>
<script>
    function loginBegin() {
        $('#login').loadingIcon('attach');
    }
    function loginSuccess(data) {
        $('#login').loadingIcon('detach');
        if (data.Success) {
            window.location.reload();
        } else {
            // display errors
            for (var property in data.ModelState) {
                if (data.ModelState.hasOwnProperty(property)) {
                    if (!property) {
                        var node = $("#login_form");
                        var child = document.createElement("span");
                        child.className = "text-danger validation-summary-errors";
                        child.setAttribute("id", "login_errors");
                        child.innerText = data.ModelState[property].join(" ");
                        node.prepend(child);
                    } else if (data.ModelState.hasOwnProperty(property)) {
                        $("#login #" + property + "+span").text(data.ModelState[property].join(" "));
                    }
                }
            }
        }
    }
</script>