@model redfoodie.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset your password here";
}

<h3 class="clearfix"><span>@ViewBag.Title</span> </h3>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { id = "ResetPassword", @class = "fos_user_resetting_reset form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    @Html.HiddenFor(model => model.Email)
    <div class="form-group" style="position: relative">
        <div class="col-md-offset-1 col-md-10">
            @Html.PasswordFor(m => m.Password, true, new { placeholder = Html.DisplayNameFor(m => m.Password), title = Html.DisplayNameFor(m => m.Password) })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, true, new { placeholder = Html.DisplayNameFor(m => m.ConfirmPassword), title = Html.DisplayNameFor(m => m.ConfirmPassword) })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            <input type="submit" class="btn btn-primary" value="Change password" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#ResetPassword").validate();
    </script>
}
