@model redfoodie.Models.BaseViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="navbar navbar-default navbar-static-top main-header">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { id = "logo", @class = "navbar-brand navbar-link redfood-icon redfood-redfoodie" })
            </div>
            <div class="navbar-collapse collapse">
                <nav class="nav navbar-nav navbar-left">
                    <nav class="city-list">
                        <div class="city-box pull-left">
                                @Model.Name<span class="fa fa-angle-down"></span>
                                <div class="drop_menu " style="display: none">
                                    <ul class="list-unstyled">
                                        <li class="cat clearfix second-country">
                                            <div class="country_city_list">
                                                @foreach (var city in Model.Cities)
                                                {
                                                    <a href="@city.Href">@city.Name</a>
                                                }
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    </nav>
                </nav>
                <nav class="nav navbar-nav navbar-right">
                    <nav class="header-user-container noauth">
                        @Html.Partial("_LoginPartial")
                    </nav>
                </nav>
            </div>
        </div>
    </div>
    <!--banner -->
    <section class="banner" role="banner" style="margin-top: 0">
        <ul class="bxslider" style="padding: 0px; display: block; list-style: none;">
            <li>
                <a href="#" style="cursor: initial;">
                    <div class="slide-contnet-wrap2"></div>
                </a>
            </li>
        </ul>
    </section>
    <!-- .banner -->
    <section class="skin search_wrapper">
        <div class="main-search ">
            <div class="globalwidth s-form clearfix" style="border: none">
                <div class="form-pane home-pane-or" style="background: rgba(0, 0, 0, 0);">
                    <form id="autoSuggestSearchForm" action="/search">
                        <div class="msrch-mn">
                            <div class="msrch-wrp1">
                                <input id="searchTxt" type="text" name="q" placeholder="Find restaurant, cuisine, locality..." autocomplete="off" style="display: inline-block;">
                            </div>
                            <!-- msrch-wrp1 -->
                            <div class="msrch-wrp2">
                                <div style="width: 53px;line-height: 51px;" class="sel-cat"><i class=""></i></div>
                                <input id="searchTxtLoc" type="text" placeholder="Type Location Name" autocomplete="off">
                            </div>
                            <!-- msrch-wrp1 -->
                            <button name="btn" type="button" class="button search-button"><span class="redfood-icon redfood-searchup"></span></button>
                        </div>
                        <input id="hiddCatSearch" type="hidden" value="" name="category">
                        <input id="hiddTagSearch" type="hidden" value="" name="tags">
                        <input id="hiddLocSearch" type="hidden" value="" name="neighbourhoods">
                        <div class="msrch-dpdwn" id="msdpdwn1">
                            <ul class="clearfix list-unstyled">
                                <li class="sitem">
                                    <div data-icon="redfood-icon redfood-bicycle" data-type="cat" data-type-id="1"><i class="redfood-icon redfood-bicycle"></i>Delivery</div>
                                </li>
                                <li class="sitem">
                                    <div data-icon="redfood-icon redfood-restaurant" data-type="cat" data-type-id="2"><i class="redfood-icon redfood-restaurant"></i>Dine out</div>
                                </li>
                                <li class="sitem">
                                    <div data-icon="redfood-icon redfood-bar" data-type="cat" data-type-id="3"><i class="redfood-icon redfood-bar"></i>Nightlife</div>
                                </li>
                                <li class="sitem">
                                    <div data-icon="redfood-icon redfood-coffee" data-type="cat" data-type-id="4"><i class="redfood-icon redfood-coffee"></i>Cafes</div>
                                </li>
                                <li class="sitem">
                                    <div data-icon="redfood-icon redfood-diamond" data-type="tag" data-type-id="North Indian"><i class="redfood-icon redfood-diamond"></i>Luxury Dining</div>
                                </li>
                                <li class="sitem">
                                    <div data-icon="redfood-icon redfood-capcake" data-type="tag" data-type-id="Desserts"><i class="redfood-icon redfood-capcake"></i>Bakes &amp; Desserts</div>
                                </li>
                            </ul>
                        </div>
                        <!-- msrch-dpdwn -->
                        <div class="msrch-dpdwn" id="msdpdwn2">
                            <div class="sitem allOfCity">All of Delhi NCR</div>
                            <div class="locauto shareLocation" data-icon="i" onclick="geoFindMe();">Detect Current Location <span style="margin-left: 97px;"><i></i></span></div>
                            <ul class="clearfix">
                                <li class="slabel">POPULAR LOCATION</li>
                                <li class="sitem" data-neigh-id="366">Rohini, Delhi NCR</li>
                                <li class="sitem" data-neigh-id="206">Dwarka, Delhi NCR</li>
                                <li class="sitem" data-neigh-id="181">Connaught place, Delhi NCR</li>
                                <li class="sitem" data-neigh-id="241">Indirapuram, Delhi NCR</li>
                                <li class="sitem" data-neigh-id="461">Uttam nagar, Delhi NCR</li>
                            </ul>
                        </div>
                        <!-- msrch-dpdwn -->
                        <div class="msrch-dpdwn" id="msdpdwn3">
                            <ul class="clearfix list-unstyled"></ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- .search -->
    
    <div class="container body-content" style="padding-top: 30px!important;">
        @RenderBody()
        <hr />
    </div>
    <footer id="footer" class="footer">
        <div class="footer-1 clearfix ">
            <div class="container">
                <div class="fr_top">
                    <ul class="list-unstyled clearfix pull-left">
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li><a href="/business/new-restaurant">Add Restaurant</a></li>
                        <li><a href="/advertise-with-us">Advertise</a></li>
                        <li><a href="/jobs">Jobs</a></li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
                <div class="social_wrapper pull-right">
                    <a target="_blank" href="https://www.facebook.com/Redfoodiedotcom"><span class="fa facebook fa-facebook"></span></a>
                    <a target="_blank" href="https://twitter.com/RedfoodieApp"><span class="twitter fa fa-twitter"></span></a>
                    <a target="_blank" href="https://plus.google.com/+Redfoodiedotcom/"><span class="google fa fa-google-plus"></span></a>
                </div>
            </div>
        </div>
        <div class="footer-2 clearfix ">
            <div class="container">
                <div class="rights pull-left">
                    &copy;2016 Valeriy Osipov. All rights reserved. <a href="/termsofservice">Terms</a> •<a href="/privacypolicy">Privacy</a>
                </div>
                <i class="redfood-icon redfood-bicycle" style="visibility: hidden"></i>
                <div class="rights pull-right">All trademarks are properties of their respective owners.</div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        //Main Search
        $('.msrch-wrp1 input').click(function () {
            if ($('#msdpdwn1').is(':hidden') && $('.msrch-wrp1 input').val() == "") {
                $('#msdpdwn1').show();
                $('#msdpdwn3').hide();
            }
        });
        $('#msdpdwn1 li.sitem').click(function () {
            var dicon = $(this).children("div").attr("data-icon")
            var currClass = $('.sel-cat').children('i').attr('class')
            if ($('#msdpdwn2').is(':hidden')) {
                $('.msrch-wrp1 input').hide();
                $('.msrch-wrp1 input').blur();
                $('#msdpdwn1').hide();

                $('#msdpdwn2').show();
                $('.sel-cat').children('i').removeClass(currClass)
                $('.sel-cat').children('i').attr({ class: dicon })

                $('#searchTxtLoc').focus();
            }
        });
        $('.sel-cat').click(function () {
            if (!$('#msdpdwn1').is(':visible')) {
                $('.msrch-wrp1 input').show();
                $('#msdpdwn2').hide();
                $('#msdpdwn1').show();
                $('#msdpdwn3').hide();
            }
        });

        $('.msrch-mn,.msrch-dpdwn,.form-pane .button').click(function (event) {
            event.stopPropagation();
        });

        $('body').click(function (event) {
            if ($('#msdpdwn1').is(':visible')) {
                $('#msdpdwn1').hide();
            } else if ($('#msdpdwn2').is(':visible')) {
                $('.msrch-wrp1 input').show()
                $('#msdpdwn2').hide();
                $('#msdpdwn1').show();

            }
            if ($('#msdpdwn3').is(':visible')) {
                $('#msdpdwn3').hide();
            }
        });
    </script>
</body>
</html>
