@model redfoodie.Models.BaseViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="navbar navbar-default navbar-static-top main-header">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { id = "logo", @class = "navbar-brand navbar-link redfood-icon redfood-redfoodie" })
            </div>
            <div class="navbar-collapse collapse">
                <nav class="nav navbar-nav navbar-left">
                    <nav class="city-list">
                        <div class="city-box pull-left">                            
                                @Model.Name<span class="fa fa-angle-down"></span>
                                <div class="drop_menu " style="display: none">
                                    <ul class="list-unstyled">
                                        <li class="cat clearfix second-country">
                                            <div class="country_city_list">
                                                @foreach (var city in Model.Cities)
                                                {
                                                    <a href="@city.Href">@city.Name</a>
                                                }
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    </nav>
                </nav>
                <nav class="nav navbar-nav navbar-right">
                    <nav class="header-user-container noauth">
                        @Html.Partial("_LoginPartial")
                    </nav>
                </nav>
            </div>
        </div>
    </div>
    <!--banner -->
    <section class="banner" role="banner" style="margin-top: 0">
        <ul class="bxslider" style="padding: 0px; display: block; list-style: none;">
            <li>
                <a href="#" style="cursor: initial;">
                    <div class="slide-contnet-wrap2"></div>
                </a>
            </li>
        </ul>
    </section>
    <!-- .banner -->
    <section class="skin search_wrapper">
        <div class="main-search ">
            <div class="globalwidth s-form clearfix" style="border: none">
                <div class="form-pane home-pane-or" style="background: rgba(0, 0, 0, 0);">
                    <form id="autoSuggestSearchForm" action="/search">
                        <div class="msrch-mn">
                            <div class="msrch-wrp1">
                                <input id="searchTxt" type="text" name="q" placeholder="Find restaurant, cuisine, locality..." autocomplete="off" style="display: inline-block;">
                            </div>
                            <!-- msrch-wrp1 -->
                            <div class="msrch-wrp2">
                                <div style="width: 53px;line-height: 51px;" class="sel-cat"><i class=""></i></div>
                                <input id="searchTxtLoc" type="text" placeholder="Type Location Name" autocomplete="off">
                            </div>
                            <!-- msrch-wrp1 -->
                            <button name="btn" type="button" class="button search-button"><span class="redfood-icon redfood-searchup"></span></button>
                        </div>
                        <input id="hiddCatSearch" type="hidden" value="" name="category">
                        <input id="hiddTagSearch" type="hidden" value="" name="tags">
                        <input id="hiddLocSearch" type="hidden" value="" name="neighbourhoods">
                        <div class="msrch-dpdwn" id="msdpdwn1">
                            <ul class="clearfix list-unstyled">
                                <li class="sitem">
                                    <div data-icon="redfood-icon redfood-bicycle" data-type="cat" data-type-id="1"><i class="redfood-icon redfood-bicycle"></i>Delivery</div>
                                </li>
                                <li class="sitem">
                                    <div data-icon="redfood-icon redfood-restaurant" data-type="cat" data-type-id="2"><i class="redfood-icon redfood-restaurant"></i>Dine out</div>
                                </li>
                                <li class="sitem">
                                    <div data-icon="redfood-icon redfood-bar" data-type="cat" data-type-id="3"><i class="redfood-icon redfood-bar"></i>Nightlife</div>
                                </li>
                                <li class="sitem">
                                    <div data-icon="redfood-icon redfood-coffee" data-type="cat" data-type-id="4"><i class="redfood-icon redfood-coffee"></i>Cafes</div>
                                </li>
                                <li class="sitem">
                                    <div data-icon="redfood-icon redfood-diamond" data-type="tag" data-type-id="North Indian"><i class="redfood-icon redfood-diamond"></i>Luxury Dining</div>
                                </li>
                                <li class="sitem">
                                    <div data-icon="redfood-icon redfood-capcake" data-type="tag" data-type-id="Desserts"><i class="redfood-icon redfood-capcake"></i>Bakes &amp; Desserts</div>
                                </li>
                            </ul>
                        </div>
                        <!-- msrch-dpdwn -->
                        <div class="msrch-dpdwn" id="msdpdwn2">
                            <div class="sitem allOfCity">All of Delhi NCR</div>
                            <div class="locauto shareLocation" data-icon="i" onclick="geoFindMe();">Detect Current Location <span style="margin-left: 97px;"><i></i></span></div>
                            <ul class="clearfix">
                                <li class="slabel">POPULAR LOCATION</li>
                                <li class="sitem" data-neigh-id="366">Rohini, Delhi NCR</li>
                                <li class="sitem" data-neigh-id="206">Dwarka, Delhi NCR</li>
                                <li class="sitem" data-neigh-id="181">Connaught place, Delhi NCR</li>
                                <li class="sitem" data-neigh-id="241">Indirapuram, Delhi NCR</li>
                                <li class="sitem" data-neigh-id="461">Uttam nagar, Delhi NCR</li>
                            </ul>
                        </div>
                        <!-- msrch-dpdwn -->
                        <div class="msrch-dpdwn" id="msdpdwn3">
                            <ul class="clearfix list-unstyled"></ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- .search -->
    
    <div class="container body-content" style="padding-top: 30px!important;">
        @RenderBody()
        <hr />
    </div>
    <footer id="footer" class="footer">
        <div class="footer-1 clearfix ">
            <div class="container">
                <div class="fr_top">
                    <ul class="list-unstyled clearfix pull-left">
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li><a href="/business/new-restaurant">Add Restaurant</a></li>
                        <li><a href="/advertise-with-us">Advertise</a></li>
                        <li><a href="/jobs">Jobs</a></li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
                <div class="social_wrapper pull-right">
                    <a target="_blank" href="https://www.facebook.com/Redfoodiedotcom"><span class="fa facebook fa-facebook"></span></a>
                    <a target="_blank" href="https://twitter.com/RedfoodieApp"><span class="twitter fa fa-twitter"></span></a>
                    <a target="_blank" href="https://plus.google.com/+Redfoodiedotcom/"><span class="google fa fa-google-plus"></span></a>
                </div>
            </div>
        </div>
        <div class="footer-2 clearfix ">
            <div class="container">
                <div class="rights pull-left">
                    &copy;2016 Valeriy Osipov. All rights reserved. <a href="/termsofservice">Terms</a> •<a href="/privacypolicy">Privacy</a>
                </div>
                <i class="redfood-icon redfood-bicycle" style="visibility: hidden"></i>
                <div class="rights pull-right">All trademarks are properties of their respective owners.</div>
            </div>
        </div>
    </footer>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- ======================= flag widget ======================= -->
    <div class="pop_wrapper">
        <div class="pop-container-relative">
            <a class="pop_close modal-popup-close redfood-icon redfood-cross"></a>
            <div id="pp_desc" class="width_462">
                <style>
                    #login_errors {
                        color: red;
                        border: 1px solid #FBEED5;
                        padding: 0px 15px 2px;
                        margin-bottom: 6px;
                        text-align: center;
                    }

                    .submit {
                        color: #FFFFFF;
                        height: 29px;
                        padding: 0 20px;
                        background-color: #D94A38;
                        border: medium none;
                        cursor: pointer;
                        font-size: 14px;
                    }

                    .confirmation-message {
                        background-color: #DEDEDE;
                        border: 1px solid #FBEED5;
                        padding: 8px 12px 7px;
                        margin-bottom: 20px;
                    }

                    .join_form li label.error {
                        color: red;
                        font-size: 12px;
                    }

                    #ispg_appbundle_flagstype_message {
                        margin-top: 10px;
                    }

                    .comment-area textArea {
                        width: 100%;
                    }

                    .comment-area {
                        display: block;
                        margin-bottom: 15px;
                    }

                    #ispg_appbundle_messagestype_message {
                        resize: vertical;
                    }
                </style>

                <!-- #NEW Signup MODAL-->
                <div id="Signup" data-modal-content-container="1" data-modal-wrapper-class="width_350" class="login_wrapper">
                    <h3 class="form-signin-heading">Sign Up</h3>
                    
                    <div class="row facebook-link-storage">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="fb-sign-up fb-button"></div>                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="divi-new"><span>OR</span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <form id="register_form" action="" novalidate="novalidate">
                                <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="67710fa81e4c72ef7133410305281de3787dc082">

                                <div class="form-group">
                                    <input type="text" id="fos_user_registration_form_firstName" name="fos_user_registration_form[firstName]" required="required" class="form-control input-lg" placeholder="Full Name" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; background-repeat: no-repeat;">
                                </div>
                                <div class="form-group">
                                    <input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" class="form-control input-lg" placeholder="Email" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; background-repeat: no-repeat;">
                                </div>
                                <div class="form-group">
                                    <input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" class="form-control input-lg" placeholder="Password" onchange="$(&quot;#fos_user_registration_form_plainPassword_second&quot;).val($(this).val())" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; background-repeat: no-repeat;">
                                    <input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" style="display: none; background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACIUlEQVQ4EX2TOYhTURSG87IMihDsjGghBhFBmHFDHLWwSqcikk4RRKJgk0KL7C8bMpWpZtIqNkEUl1ZCgs0wOo0SxiLMDApWlgOPrH7/5b2QkYwX7jvn/uc//zl3edZ4PPbNGvF4fC4ajR5VrNvt/mo0Gr1ZPOtfgWw2e9Lv9+chX7cs64CS4Oxg3o9GI7tUKv0Q5o1dAiTfCgQCLwnOkfQOu+oSLyJ2A783HA7vIPLGxX0TgVwud4HKn0nc7Pf7N6vV6oZHkkX8FPG3uMfgXC0Wi2vCg/poUKGGcagQI3k7k8mcp5slcGswGDwpl8tfwGJg3xB6Dvey8vz6oH4C3iXcFYjbwiDeo1KafafkC3NjK7iL5ESFGQEUF7Sg+ifZdDp9GnMF/KGmfBdT2HCwZ7TwtrBPC7rQaav6Iv48rqZwg+F+p8hOMBj0IbxfMdMBrW5pAVGV/ztINByENkU0t5BIJEKRSOQ3Aj+Z57iFs1R5NK3EQS6HQqF1zmQdzpFWq3W42WwOTAf1er1PF2USFlC+qxMvFAr3HcexWX+QX6lUvsKpkTyPSEXJkw6MQ4S38Ljdbi8rmM/nY+CvgNcQqdH6U/xrYK9t244jZv6ByUOSiDdIfgBZ12U6dHEHu9TpdIr8F0OP692CtzaW/a6y3y0Wx5kbFHvGuXzkgf0xhKnPzA4UTyaTB8Ph8AvcHi3fnsrZ7Wore02YViqVOrRXXPhfqP8j6MYlawoAAAAASUVORK5CYII=&quot;); background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; background-repeat: no-repeat;">
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block form-sign-submit-button" id="submit-user-registration" onclick="event.preventDefault();registerUser();">
                                    Sign Up
                                </button>
                            </form>
                        </div>
                    </div>
                    <hr class="login_wrapper_hr">
                    <div class="row">
                        Already have an account? <a data-modal-link="1" href="#login">Log in now »</a>
                    </div>
                </div>
                <!-- END #NEW Signup MODAL-->
                <!--sign up confirmation -->
                @*<div data-modal-content-container="1" data-modal-wrapper-class="width_300" class="hide" id="signup-confirmation">
                        <div class="pad_0x17 join_form">
                            <h2>Thank you for signing up!</h2>

                            <p>We have sent you a verification mail. Please click on the link in mail to verify your email address.</p>
                        </div>
                    </div>

                    <!--log in confirmation -->

                    <div data-modal-content-container="1" data-modal-wrapper-class="width_300" class="hide" id="login-confirmation">
                        <div class="pad_0x17 join_form">
                            <p><b>Logged in successfully</b></p>
                        </div>
                    </div>

                    <!--forgot password-->
                    <div data-modal-content-container="1" data-modal-wrapper-class="width_300" class="hide" id="Forgot-Password">
                        <form id="reset_form" action="">
                            <div class="pad_0x17 join_form">
                                <h3>Forgot Password</h3>

                                <div class="confirmation-message" id="reset-password-mail-confirmation" style="display: none">
                                    Recovery email
                                    sent. Please check your inbox to initiate the password recovery process
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        <label>Email Address</label>
                                        <input type="text" name="username" onblur="validateEmail(this.value);" id="password-reset" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; background-repeat: no-repeat;">
                                    </li>
                                    <li class="clearfix">
                                        <a data-modal-link="1" class="back pull-left" href="#login">Back</a>
                                        <span class="button pull-right create pos_relative password-reset" id="submit-password-reset" onclick="resetPasswordAction()">Reset Password</span>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>

                    <div data-modal-content-container="1" data-modal-wrapper-class="width_350" class="hide login_wrapper" id="login">
                        <h3 class="form-signin-heading">Log In</h3>

                        <div class="row facebook-link-storage">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="fb-log-in fb-button"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="divi-new"><span>OR</span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <form id="login_form" action="">
                                    <div id="login_errors" style="display: none">Invalid email or password</div>
                                    <div class="form-group">
                                        <input type="email" class="form-control input-lg" name="_username" id="username" placeholder="Email" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; background-repeat: no-repeat;">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control input-lg" name="_password" id="password" placeholder="Password" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; background-repeat: no-repeat;">
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-block form-submit-button" id="redfoodie-user-signin" onclick="event.preventDefault(); accessLoginParams(this);">
                                        Log In
                                    </button>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="login_wrapper_checkbox" type="checkbox" id="remember_me" name="_remember_me" checked="checked" value="on"> Remember me
                                        </div>
                                        <div class="col-md-6">
                                            <a data-modal-link="1" href="#Forgot-Password" style="font-size: 15px;">Forgot password? </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr class="login_wrapper_hr">
                        <div class="row">
                            <a data-modal-link="1" href="#Signup">Sign up now »</a>
                        </div>
                        <!-- END LOGIN MODAL-->
                    </div>


                    <div id="flagPopup" class="hide" data-modal-content-container="1" data-modal-wrapper-class="width_300">

                        <form action="" method="post" class="form-inline">

                            <div class="pad_0x17 join_form">

                                <h2>Flag This Review</h2>

                                <div class="element-block comment-area clearfix">
                                    <textarea id="ispg_appbundle_flagstype_message" name="ispg_appbundle_flagstype[message]" required="required" style="resize: vertical;" class="span4" placeholder="Type your message"></textarea>
                                </div>

                                <div class="element-block btn-wrap clearfix">
                                    <a id="btn-cancel-flag" class="back pull-left cancel" href="javascript:void(0);">Cancel</a>
                                    <span class="button pull-right create" id="btn-do-flag">Submit</span>
                                </div>
                            </div>

                        </form>

                    </div>




                    <script type="text/javascript">
                function accessLoginParams() {
                    var form_data = $('#login_form').serialize();
                    $('.pop-container-relative').loadingIcon('attach');
                    $.ajax({
                        type: 'post',
                        url: '/login_check',
                        data: form_data,
                        success: function (response) {
                            var result = JSON.parse(response);
                            if (result.success == false) {
                                $('.pop-container-relative').loadingIcon('detach');
                                document.getElementById('login_errors').style.display = "block";
                            }
                            else {
                                $.ajax({
                                    type: 'get',
                                    url: '/users/redfoodie/user/login',
                                    success: function (response) {
                                        $('.pop-container-relative').loadingIcon('detach');
                                        $('.header-inside .pull-right').html(response);
                                        //append messaging composer
                                        $('#message').load('/business-dashboard/new', function () {
                                            $("#ispg_appbundle_messagestype_sentTo").chosen();
                                        });
                                        $('#login').hide();
                                        $('.modal-popup-close').hide();
                                        $('#login-confirmation').show();
                                        var ua = window.navigator.userAgent;
                                        var msie = ua.indexOf("MSIE ");
                                        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
                                            location.reload();
                                        }
                                        setTimeout(function () {
                                            $('.modal-popup-close').click()
                                        }, 1000);
                                        userLoggedIn = 1;
                                    }
                                });
                                if (typeof window.loginCallBack == 'function') {
                                    loginCallBack.call();
                                }
                            }
                        },
                        error: function () {
                            $('.pop-container-relative').loadingIcon('detach');
                        }
                    });
                }
                function registerUser() {
                    if (!$('#register_form').valid()) {
                        $('.register-validation-error').hide();
                        return;
                    }
                    $('#Registration').loadingIcon('attach');
                    $('.modal-popup-close').hide();
                    var form_data = $('#register_form').serialize();
                    $.ajax({
                        type: 'post',
                        url: '/register/user/',
                        data: form_data,
                        success: function (response) {
                            var result = JSON.parse(response);
                            if (result.status == 'fail') {
                                $('#Registration').loadingIcon('detach');
                                $('.modal-popup-close').show();
                                $('.register-validation-error').hide();
                                var nameerror = result.form.errors;
                                if (nameerror) {
                                    $('#fos_user_registration_form_firstName').parent().append('<span class="register-validation-error" style="color:red">' + nameerror + '</span>')
                                }
                                var objVal = result.form.children;
                                Object.keys(objVal).forEach(function (key) {
                                    var objt = key;
                                    var $formField = $('#fos_user_registration_form_' + key).parent();
                                    $('span.validation-error', $formField).each(function () {
                                        $(this).remove();
                                    });
                                    if (typeof objVal[key].errors != 'undefined' && typeof objVal[key].errors[0] != 'undefined')
                                        $formField.append('<span class="register-validation-error" style="color:red">' + objVal[key].errors[0] + '</span>');
                                });
                            }
                            if (result.status == 'success') {
                                $('#Registration').loadingIcon('detach');
                                $('.modal-popup-close').show();
                                $('.modal-popup-close').click();
                                $('#Registration').hide();

                                if (result.redirectTo) {
                                    window.location.href = result.redirectTo;
                                }
                                else {
                                    window.location.reload();
                                }
                            }
                        },
                        error: function () {
                            $('.pop-container-relative').loadingIcon('detach');
                        }
                    });
                }
                function validateEmail(sEmail) {
                    var reEmail = /^(?:[\w\!\#\$\%\&\'\*\+\-\/\=\?\^\`\{\|\}\~]+\.)*[\w\!\#\$\%\&\'\*\+\-\/\=\?\^\`\{\|\}\~]+@(?:(?:(?:[a-zA-Z0-9](?:[a-zA-Z0-9\-](?!\.)){0,61}[a-zA-Z0-9]?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9\-](?!$)){0,61}[a-zA-Z0-9]?)|(?:\[(?:(?:[01]?\d{1,2}|2[0-4]\d|25[0-5])\.){3}(?:[01]?\d{1,2}|2[0-4]\d|25[0-5])\]))$/;
                    if (!sEmail.match(reEmail)) {
                        return false;
                    }
                    return true;
                }
                function resetPasswordAction() {
                    document.getElementById('reset-password-mail-confirmation').style.display = "none";
                    var useremail = document.getElementById('password-reset').value;
                    var form_data = $('#reset_form').serialize();
                    if (validateEmail(useremail) === false) {
                        $('.password-reset-validation-error').remove();
                        $('#password-reset').parent().append('<span class="password-reset-validation-error" style="color:red">Enter a valid email address</span>');
                    }
                    else {
                        $('#Forgot-Password').loadingIcon('attach');
                        $('.modal-popup-close').hide();
                        $.ajax({
                            type: 'post',
                            url: '/resetting/send-email',
                            data: form_data,
                            success: function (response) {
                                $('#Forgot-Password').loadingIcon('detach');
                                $('.modal-popup-close').show();
                                var result = JSON.parse(response);
                                if (result.status == 'failure') {
                                    $('.password-reset-validation-error').remove();
                                    $('#password-reset').parent().append('<span class="password-reset-validation-error" style="color:red">' + result.error + '</span>');
                                }
                                if (result.status == 'success') {
                                    $('.validation-error').remove();
                                    $('.password-reset-validation-error').hide();
                                    document.getElementById('reset-password-mail-confirmation').style.display = "block";
                                }
                            }, error: function () {
                                $('#Forgot-Password').loadingIcon('detach');
                                $('.modal-popup-close').show();
                            }
                        });
                    }
                }

                $(document).on('click', '.modal-popup-close,.pop_outer_wrapper', function () {
                    $('#fos_user_registration_form_username').val('');
                    $('#fos_user_registration_form_email').val('');
                    $('#fos_user_registration_form_plainPassword').val('');
                    $('#password-reset').val('');
                    $('#reset-password-mail-confirmation').hide();
                    $('#login_errors').hide();
                    $('.register-validation-error').hide();
                    $('label.error').hide();
                    $('.password-reset-validation-error').hide();
                    $('#username').val('');
                    $('#password').val('');
                    $('#fos_user_registration_form_firstName').val('');
                    $('#login_errors').hide();
                    $('#deactivate-account-confirmation').hide();
                    $('.password_errors').hide();
                    $('#password-change-confirmation').remove();
                });

                // $(function () {

                /*   $(document).ready(function(){
                    $('#reset_form').submit(function(e){
                    e.preventDefault();
                    });
                    })  */


                $('#register_form').on('keyup', function (e) {
                    if (e.keyCode == 13) {
                        registerUser();
                    }
                });
                $('#login_form').on('keyup', function (e) {
                    if (e.keyCode == 13) {
                        accessLoginParams();
                    }
                });
                $('#reset_form').on('keyup', function (e) {
                    if (e.keyCode == 13) {
                        $('#reset_form').submit(function (e) {
                            e.preventDefault();
                        });
                        resetPasswordAction();
                    }
                });
                $('#register_form').validate({
                    onfocusout: function (element) {
                        $(element).valid();
                    }
                });

                // });

                    </script>*@
            </div>
        </div>
    </div>
 
    <div id="fb-root"></div>
    @Scripts.Render("~/Content/js")
    @RenderSection("scripts", required: false)
        
    <script>
        postMessages = {
            api_post_change_location: '/api/change/location.json',
            api_post_home_location: '/api/home/location.json',
            api_post_message: '/api/messages.json',
            api_post_messages_reply: '/api/messages/reply.json',
            api_post_msg_inbox: '/api/messages/all.json',
            api_post_delete_conversation: '/api/messages/delete/conversation.json',
            api_post_all_recipients: '/api/recipients/all.json'
        };

        if (typeof App.page.urls == 'undefined') {
            App.page.urls = {};
        }
        if (typeof faviconNotificationCount != 'undefined' && typeof Notificon != 'undefined') {
            Notificon(faviconNotificationCount);
        }
//        App.page.urls.loginUrl = '/user/login';
//        var api_post_review_vote = "/api/review/vote.json";
//        function onFbInit() {
//            if (typeof(FB) != 'undefined' && FB != null) {
//                FB.Event.subscribe('auth.statusChange', function (response) {
//                    if (response.session || response.authResponse) {
//                        setTimeout(goLogIn, 50);
//                    } else {
//                        window.location = "/logout";
//                    }
//                });
//            }
//        }

        window.fbAsyncInit = function() {
            FB.init({"appId":"1116755848371978","xfbml":true,"oauth":true,"status":false,"cookie":true,"logging":false});
//            onFbInit();
        };

        (function() {
            var e = document.createElement('script');
            e.src = document.location.protocol + "\/\/connect.facebook.net\/en_US\/all.js";
            e.async = true;
            document.getElementById('fb-root').appendChild(e);
        }());

//        // Script for FOSFacebookBundle
//        var popupGlobal = '';
//        var popupGlobalVariables = '';
//        var child = '';
        jQuery(document).ready(function ($) {
//            if (typeof App.page != 'undefined') {
//                App.page.user = null;
//            }
//            if (App.page.user == null) {
//                App.page.user = {};
//            }
//            App.page.user.profile_image_path = '/assets/images/profile/';
//            App.baseUrl = '';
//            App.basePath = '';
//
//            $('.gplus').on('click', function (e) {
//                e.preventDefault();
//                child = window.open($(this).attr('href'), "", "width=400,height=500");
//                $('.pop-container-relative').loadingIcon('attach');
//                var timer = setInterval(checkChild, 250);
//
//                function checkChild() {
//                    if (child.closed) {
//                        $('.pop-container-relative').loadingIcon('detach');
//                        clearInterval(timer);
//                    }
//                }
//            });
            $('.fb-button').on('click', function (event) {
                event.preventDefault();
                FB.login(function (response) {
                    if (response.authResponse) {
                        window.location = "/signin-facebook?accessToken=" + FB.getAuthResponse()['accessToken'] + "&expiresIn=" + FB.getAuthResponse()["expiresIn"];
                        $('.pop-container-relative').loadingIcon('attach');
                    } else {
                        //user cancelled login or did not grant authorization
                    }
                }, {scope: 'email,user_birthday,user_location'});
            });
        });
        //Main Search
        $('.msrch-wrp1 input').click(function () {
            if ($('#msdpdwn1').is(':hidden') && $('.msrch-wrp1 input').val() == "") {
                $('#msdpdwn1').show();
                $('#msdpdwn3').hide();
            }
        });
        $('#msdpdwn1 li.sitem').click(function () {
            var dicon = $(this).children("div").attr("data-icon")
            var currClass = $('.sel-cat').children('i').attr('class')
            if ($('#msdpdwn2').is(':hidden')) {
                $('.msrch-wrp1 input').hide();
                $('.msrch-wrp1 input').blur();
                $('#msdpdwn1').hide();

                $('#msdpdwn2').show();
                $('.sel-cat').children('i').removeClass(currClass)
                $('.sel-cat').children('i').attr({ class: dicon })

                $('#searchTxtLoc').focus();
            }
        });
        $('.sel-cat').click(function () {
            if (!$('#msdpdwn1').is(':visible')) {
                $('.msrch-wrp1 input').show();
                $('#msdpdwn2').hide();
                $('#msdpdwn1').show();
                $('#msdpdwn3').hide();
            }
        });

        $('.msrch-mn,.msrch-dpdwn,.form-pane .button').click(function (event) {
            event.stopPropagation();
        });

        $('body').click(function (event) {
            if ($('#msdpdwn1').is(':visible')) {
                $('#msdpdwn1').hide();
            } else if ($('#msdpdwn2').is(':visible')) {
                $('.msrch-wrp1 input').show()
                $('#msdpdwn2').hide();
                $('#msdpdwn1').show();

            }
            if ($('#msdpdwn3').is(':visible')) {
                $('#msdpdwn3').hide();
            }
        });
    </script>
</body>
</html>
