@using redfoodie.Models
@using redfoodie.Views
@model RestaurantSearchViewModel
@using (Html.BeginForm("Index", "Restaurant", FormMethod.Post, new { role = "form", id = "autoSuggestSearchForm" }))
{
    @Html.AntiForgeryToken()
    var toolbarSearchBar = (bool)ViewData["toolbarSearchBar"];
    if (toolbarSearchBar)
    {
        @Html.Raw(@"<div class=""sup-div"">")
    }
    <div class="msrch-mn">
        <div class="msrch-wrp1">
            @Html.TextBoxFor(m => m.SearchTxt, true, null, new { id = "searchTxt", placeholder = Html.DisplayNameFor(m => m.SearchTxt), autocomplete = "off" })
            @Html.ValidationMessagesFor(m => m.SearchTxt, new { @class = "text-danger" })
        </div>
        <!-- msrch-wrp1 -->
        <div class="msrch-wrp2">
            <div class="sel-cat" style="@(toolbarSearchBar ? "" : "width: 53px;line-height: 51px")"><i class=""></i></div>
            @Html.TextBoxFor(m => m.SearchTxtLoc, true, null, new { id = "searchTxtLoc", placeholder = Html.DisplayNameFor(m => m.SearchTxtLoc), autocomplete = "off" })
            @Html.ValidationMessagesFor(m => m.SearchTxtLoc, new { @class = "text-danger" })
        </div>
        <!-- msrch-wrp1 -->
        @if (!toolbarSearchBar)
        {
            <button name="btn" type="submit" class="button search-button"><span class="redfood-icon redfood-searchup"></span></button>
        }
    </div>
    if (toolbarSearchBar)
    {
        <button name="btn" type="submit" class="button"><i class="fa fa-search"></i></button>
    }
    @Html.Hidden("placeId", null, new { id = "placeId" })
    @Html.Hidden("groupId", null, new { id = "groupId" })
    <div class="msrch-dpdwn" id="msdpdwn1">
        <ul class="clearfix list-unstyled">
            <li class="sitem">
                <div data-icon="redfood-icon redfood-bar" data-type="cat" data-type-id="DateNight"><i class="redfood-icon redfood-bar"></i>Nightlife</div>
            </li>
            <li class="sitem">
                <div data-icon="redfood-icon redfood-coffee" data-type="cat" data-type-id="Cafes"><i class="redfood-icon redfood-coffee"></i>Cafes</div>
            </li>
            <li class="sitem">
                <div data-icon="redfood-icon redfood-diamond" data-type="tag" data-type-id="LuxuryDining"><i class="redfood-icon redfood-diamond"></i>Luxury Dining</div>
            </li>
            <li class="sitem">
                <div data-icon="redfood-icon redfood-capcake" data-type="tag" data-type-id="BestBakeries"><i class="redfood-icon redfood-capcake"></i>Bakes &amp; Desserts</div>
            </li>
        </ul>
    </div>
    <!-- msrch-dpdwn -->
    <div class="msrch-dpdwn" id="msdpdwn2">
        <div class="sitem allOfCity">All of @((Session["currentCity"] as City)?.Name)</div>
        <div class="locauto shareLocation" data-icon="i" onclick="geoFindMe();">
            Detect Current Location<span style="margin-left: @(toolbarSearchBar ? "108" : "97")px;">@if (!toolbarSearchBar)
            {<i></i>}</span>
            @if (toolbarSearchBar)
            {<i></i>}
        </div>
        <ul class="clearfix">
            @{
                var popularLocations = Session["popularLocations"] as IEnumerable<PlaceViewModel>;
                if (popularLocations != null)
                {
                    <li class="slabel">POPULAR LOCATION</li>
                    foreach (var place in popularLocations)
                    {
                        <li class="sitem" data-neigh-id="@place.Id">@place.Name, @place.City.Name</li>
                    }
                }
            }
        </ul>
    </div>
    <!-- msrch-dpdwn -->
    <div class="msrch-dpdwn" id="msdpdwn3">
        <ul class="clearfix list-unstyled"></ul>
    </div>
    if (toolbarSearchBar)
    {
        @Html.Raw(@"</div>")
    }
}
<script>
    var CITY_ID = "@((Session["currentCity"] as City)?.Id)";
    $(function ($) {
        var timer = null;
        $("#searchTxt").keyup(function (e) {
            if (e.keyCode === 40 || e.keyCode === 38 || e.which === 40 || e.which === 38) {
                return;
            }
            if (e.keyCode === 13 && ($("div.msrch-dpdwn:visible li.active").length > 0)) {
                if ($("div.msrch-dpdwn").attr('id') === 'msdpdwn1') {
                    console.log('msdpdwn1');
                    $("div.msrch-dpdwn:visible li.active div").click();
                } else {
                    console.log("else msdpdwn2 3 ");
                    $("div.msrch-dpdwn:visible li.active").click();
                }
                return;
            }
            var searchWord = $(this).val();
            if (searchWord.length) {
                $('#msdpdwn1').hide();
            } else {
                $('#msdpdwn1').show();
                $('#msdpdwn3').hide();
            }
            if ((searchWord.length) > 2) {
                if (timer) {
                    clearTimeout(timer);
                }
                timer = setTimeout(function () {
                    $.ajax({
                        url: '@Url.Action("SearchByKeyword", "Restaurant")',
                        type: 'GET',
                        dataType: 'json',
                        //                        contentType: 'application/json; charset=utf-8',
                        // we set cache: false because GET requests are often cached by browsers
                        // IE is particularly aggressive in that respect
                        cache: false,
                        data: { searchWord: searchWord },
                        success: function (data) {
                            if ($('#msdpdwn3').is(':hidden')) {
                                $('#msdpdwn1').hide();
                                $('#msdpdwn2').hide();
                                $('#msdpdwn3').show();
                            }

                            if (data.Object.length > 0) {
                                $.each(data.Object, function (index, value) {
                                    console.log(value);
                                    if (index === 0) $('#msdpdwn3 ul').html("");
                                    if (value.Type === "Business") {
                                        var bus = value.Name + ', ' + value.PlaceName;
                                        var shortText = bus.length > 45 ? jQuery.trim(bus).substring(0, 45).trim(this) + "..." : value.Name + ', ' + value.PlaceName;
                                        $('#msdpdwn3 ul').append('<li class="sitem querytext"><div data-icon="e"><a href="' + "/Restaurant/Details?restaurantId=" + value.Id + '">' + shortText + '</a></div><span class="outlet">Outlet</span></li>');
                                    } else if (value.Type === "Cuisine") {
                                        $('#msdpdwn3 ul').append('<li class="sitem querytext"><div data-icon="f"><a href="' + "/Restaurant?CuisineId=" + value.Id + "&CityId=" + CITY_ID + '">' + value.Name + '</a></div><span class="outlet">Cuisines</span></li>');
                                    } else if (value.Type === "Area" ||
                                        value.Type === "Districts" ||
                                        value.Type === "Neighbourhood") {
                                        $('#msdpdwn3 ul').append('<li class="sitem querytext"><div data-icon="f"><a href="' + "/Restaurant?placeId=" + value.Id + '">' + value.Name + '</a></div><span class="outlet">Locality</span></li>');
                                    }
                                });
                                $('#msdpdwn3').highlight(searchWord);
                                var searchWordArray = searchWord.split(" ");
                                for (var i = 0; i < searchWordArray.length; i++) {
                                    if (searchWordArray[i].length > 2) {
                                        $('#msdpdwn3').highlight(searchWordArray[i]);
                                    } else {
                                        $('#msdpdwn3').highlight(searchWordArray[i]);
                                    }
                                }
                            } else {
                                $('#msdpdwn3 ul').html('<li class="sitem">No results found</li>');
                            }
                        }
                    });
                }, 250);
            }
        });
        var timer2 = null;
        jQuery("#searchTxtLoc").keyup(function (e) {
            if (e.keyCode === 40 || e.keyCode === 38 || e.which === 40 || e.which === 38) {
                return;
            }
            if (e.keyCode === 13 && ($("div.msrch-dpdwn:visible li.active").length > 0)) {
                console.log("msp222");
                $("div.msrch-dpdwn:visible li.active").click();
                return;
            }
            var searchWord = $(this).val();
            if (searchWord.length) {
                $('#msdpdwn2').hide();
            } else {
                $('#msdpdwn2').show();
                $('#msdpdwn3').hide();
            }
            if ((searchWord.length) > 2) {
                if (timer2) {
                    clearTimeout(timer2);
                }
                timer2 = setTimeout(function() {
                    $.ajax({
                        url: '@Url.Action("SearchByKeyword", "Restaurant")',
                        type: 'GET',
                        dataType: 'json',
                        // we set cache: false because GET requests are often cached by browsers
                        // IE is particularly aggressive in that respect
                        cache: false,
                        data: { searchWord: searchWord, type: "loc" },
                        success: function (data) {
                            if ($('#msdpdwn3').is(':hidden')) {
                                $('#msdpdwn1').hide();
                                $('#msdpdwn2').hide();
                                $('#msdpdwn3').show();
                            }
                            console.log(data.Object.length);
                            if (data.Object.length > 0) {
                                $.each(data.Object, function (index, value) {
                                    if (index === 0) $('#msdpdwn3 ul').html("");
                                    $('#msdpdwn3 ul').append('<li class="sitem suggestLoc" data-neigh-id="' + value.Id + '"><div data-icon="e" data-neigh-id="' + value.Id + '">' + value.Name + '</div><span class="outlet">Locality</span></li>');
                                });
                                $('#msdpdwn3').highlight(searchWord);
                            } else {
                                $('#msdpdwn3 ul').html('<li class="sitem">No results found</li>');
                            }

                        }
                    });
                }, 250);
            }
        });
        $('#msdpdwn1 li div').click(function () {
            $('#groupId').val($(this).data('type-id'));
        });
        $('#msdpdwn2 li.sitem').click(function () {
            $('#placeId').val($(this).data('neigh-id'));
            $('#msdpdwn2').hide();
            $('#searchTxtLoc').val($(this).html());
            $('#autoSuggestSearchForm button').loadingIcon('attach');
            searchsubmit();
        });
        $('#msdpdwn2 .allOfCity').click(function () {
            $('#msdpdwn2').hide();
            $('#searchTxtLoc').val($(this).html());
            $('#autoSuggestSearchForm button').loadingIcon('attach');
            searchsubmit();
        });
        $('#msdpdwn3').delegate('li.suggestLoc', 'click', function () {
            $('#placeId').val($(this).data('neigh-id'));
            $('#msdpdwn3').hide();
            $('#searchTxtLoc').val($(this).find('div').text());
            $('#autoSuggestSearchForm button').loadingIcon('attach');
            searchsubmit();
        });

        $('#msdpdwn3').delegate('li.querytext', 'click', function () {

            $('#msdpdwn3').hide();

            $('#searchTxt').val($(this).find('a').text());

            $('#autoSuggestSearchForm button').loadingIcon('attach');


            var href = $(this).find('a').attr('href');
            window.location.href = href;
        });
        function searchsubmit() {
            setTimeout(function () {
                $('form#autoSuggestSearchForm').submit();
            }, 500);
        }
    });
    //Main Search
    $('.msrch-wrp1 input').click(function () {
        if ($('#msdpdwn1').is(':hidden') && $('.msrch-wrp1 input').val() === "") {
            $('#msdpdwn1').show();
            $('#msdpdwn3').hide();
        }
    });
    $('.sel-cat').click(function () {
        if (!$('#msdpdwn1').is(':visible')) {
            $('.msrch-wrp1 input').show();
            $('#msdpdwn2').hide();
            $('#msdpdwn1').show();
            $('#msdpdwn3').hide();
        }
    });
    $('.msrch-mn,.msrch-dpdwn,.form-pane .button').click(function (event) {
        event.stopPropagation();
    });
    $('body').click(function () {
        if ($('#msdpdwn1').is(':visible')) {
            $('#msdpdwn1').hide();
        } else if ($('#msdpdwn2').is(':visible')) {
            $('.msrch-wrp1 input').show();
            $('#msdpdwn2').hide();
            $('#msdpdwn1').show();

        }
        if ($('#msdpdwn3').is(':visible')) {
            $('#msdpdwn3').hide();
        }
    });
    $(document).keydown(function (e) {
        var focusedEle = '';
        if ($('#searchTxt').is(':focus') || $('#searchTxtLoc').is(':focus')) {
            if (e.keyCode === 40) {
                if ($("div.msrch-dpdwn:visible li.active").length) {
                    focusedEle = $("div.msrch-dpdwn:visible li.active");
                    focusedEle.next().addClass('active').siblings().removeClass('active');
                    focusedEle.next().focus();
                } else {
                    $("div.msrch-dpdwn:visible li:eq(0)").addClass('active');
                    $("div.msrch-dpdwn:visible li:eq(0)").focus();
                }
            }

            // Up key
            if (e.keyCode === 38) {
                if ($("div.msrch-dpdwn:visible li.active").length) {
                    focusedEle = $("div.msrch-dpdwn:visible li.active");
                    focusedEle.prev().addClass('active').siblings().removeClass('active');
                    focusedEle.prev().focus();
                } else {
                    $("div.msrch-dpdwn:visible li:last").addClass('active');
                    $("div.msrch-dpdwn:visible li:last").focus();
                }
            }
        }
    });

    function geoFindMe() {
        $('#searchTxtLoc').val("Locating...");
        $('#searchTxtLoc').attr('disabled', "true");
        $('#msdpdwn2').hide();
        $('#autoSuggestSearchForm button').loadingIcon('attach');
        if (!navigator.geolocation) {
            alert("Geolocation is not supported by your browser");
            $('#searchTxtLoc').val("");
            $('#searchTxtLoc').attr('disabled', false);
            $('#autoSuggestSearchForm button').loadingIcon('dettach');
            return;
        }

        function success(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;

            $.get('@Url.Action("ReverseGeocode", "Home")', {
                latitude: latitude,
                longitude: longitude
            }, function (data) {
                var result = data.Object;
                if (!$.isEmptyObject(result)) {e
                    console.log("cityID" + CITY_ID);
                    console.log("=" + result["City"]["Id"]);
//                    Includes used here instead of == because ReverseGeocoder() returns "Delhi", but "DElhiNCR" used in this app
                    if (!CITY_ID.includes(result["City"]["Id"])) {
                        var changeCity = confirm("Looks like you're located in " + result["City"].Name + ". Would you like to change your city to " + result["City"].Name + "?");
                        if (changeCity) {
                            window.location = "/?cityId=" + result["City"]["Id"];
                        } else {
                            $('#searchTxtLoc').val("");
                            $('#searchTxtLoc').attr('disabled', false);
                            $('#autoSuggestSearchForm button').loadingIcon('dettach');
                        }
                    } else {
                        $('#searchTxtLoc').attr('disabled', false);
                        $('#hiddLocSearch').val(result["Id"]);
                        $('#searchTxtLoc').val(result.Name);

                        // По идее тут должен быть переход на список ресторанов
                        $('form#autoSuggestSearchForm').submit();
                    }
                } else {
                    alert("No service in this location");
                    $('#searchTxtLoc').val("");
                    $('#searchTxtLoc').attr('disabled', false);
                    $('#autoSuggestSearchForm button').loadingIcon('dettach');
                }
            });

            $('#searchTxt').val("");
            $('#searchTxt').attr('disabled', false);
        };

        function error() {
            alert("Unable to retrieve your location");
            $('#searchTxtLoc').val("").attr('disabled', false);
        };

        navigator.geolocation.getCurrentPosition(success, error);
    }
</script>



