@using redfoodie.Models
@model HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="globalwidth clearfix">
<div class="home-left">
    <hgroup class="heading-01">
        <h2 class="clr-red ">Best of Redfoodie: Amritsar</h2>
        <p class="clr-grey">Recommended lists of good food and best restaurants in Amritsar</p>
    </hgroup>
    <div class="recommend-list clearfix">
        <ul class="list-unstyled tabs">
            @{
                var firstGroup = Model.RestaurantGroups.First();
            }
            <li style="background-image: url('@firstGroup.ImageFullFileName')" class="active">
                <a data-toggle="tab" class="collection_item" href=@($"#{firstGroup.Id}")>
                    @firstGroup.Name
                </a>
            </li>
            @foreach (var group in Model.RestaurantGroups.Skip(1))
            {
                <li style="background-image: url('@group.ImageFullFileName')">
                    <a data-toggle="tab" class="collection_item" href=@($"#{group.Id}")>
                        @group.Name
                    </a>
                </li>
            }
            <li class="more">
                @Html.ActionLink("Browse all lists", "RestaurantGroupsList", "Restaurant", null, new { @class = "collection_item" })
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="@Model.RestaurantGroups.First().Id"></div>
            @foreach (var group in Model.RestaurantGroups.Skip(1))
            {
                <div role="tabpanel" class="tab-pane fade" id="@group.Id"></div>
            }
        </div>
    </div>
</div>
<div class="home-right">
    <hgroup class="heading-01">
        <h2 class="clr-red ">Perfect app you'll fall in love with</h2>
    </hgroup>
    <div class="clearfix">
        <div class="pull-left" style="margin-right: 10px">
            <object data="/Content/collections/imgs/apple-iphone-5s.svg" width="78" type="image/svg+xml">
                <img src="/Content/collections/imgs/apple-iphone-5s.svg" width="78">
            </object>
        </div>
        <div>
            <p class="clr-grey">
                It's like carrying around 40000+ restaurants in the palm of your hand. No biceps required.
            </p>
            <a class="download_icon_container" href="https://geo.itunes.apple.com/us/app/redfoodie-find-food-restaurants/id1111345681?mt=8">
                <img src="/Content/collections/imgs/Download_on_the_App_Store_Badge_US-UK_135x40.svg">
            </a>
            @using (Html.BeginForm("Subscribe", "Home", FormMethod.Post, new { id = "subscription-form", @class = "subscrube-form" }))
            {
                <div class="input-group">
                    @Html.TextBoxFor(m => m.SubscriptionEmail, true, null, new { id = "subscription_email", required = "required", @class = "form-control", placeholder = Html.DisplayNameFor(m => m.SubscriptionEmail), type = "email" })
                    @Html.AntiForgeryToken()
                    <span class="input-group-btn bg-red">
                        <button class="btn btn-default  bg-red" style="color: #fff;border-radius: 0;border-color: transparent" type="submit" title="Notify me">
                            <i class="fa fa-envelope-o"></i>
                        </button>
                    </span>
                </div>
            }
            <p id="subscription-notice">&nbsp;</p>
        </div>
    </div>
    <hgroup class="heading-01" style="padding-top: 8px">
        <h2 class="clr-red ">Explore by neighbourhoods</h2>
    </hgroup>
    <div class="neighbourhoods-list">
        <ul class="list-unstyled clearfix">
            @foreach (var place in Model.PlacesOdd)
            {
                <li class="">
                    @Html.ActionLink($"{place.Name} ({place.Restaurants.Count})", "Index", "Restaurant", new RestaurantSearchViewModel { PlaceId = place.Id }, new { title = place.Name })
                </li>
            }
        </ul>
        <ul class="list-unstyled clearfix even">
            @foreach (var place in Model.PlacesEven)
            {
                <li class="even">
                    @Html.ActionLink($"{place.Name} ({place.Restaurants.Count})", "Index", "Restaurant", new RestaurantSearchViewModel { PlaceId = place.Id }, new { title = place.Name })
                </li>
            }
        </ul>
        @Html.ActionLink("See all neighbourhoods »", "PlacesList", "Home", null, new { @class="more" })
    </div>
    <hgroup class="heading-01">
        <h2 class="clr-red " style="">Explore by cuisine</h2>
    </hgroup>
    <div class="neighbourhoods-list">
        <ul class="list-unstyled clearfix">
            @foreach (var cuisine in Model.CuisinesOdd)
            {
                <li class="">
                    @Html.ActionLink(cuisine.Name, "Index", "Restaurant", new RestaurantSearchViewModel { CuisineId = cuisine.Id }, null)
                </li>

            }
        </ul>
        <ul class="list-unstyled clearfix even">
            @foreach (var cuisine in Model.CuisinesEven)
            {
                <li class="">
                    @Html.ActionLink(cuisine.Name, "Index", "Restaurant", new RestaurantSearchViewModel { CuisineId = cuisine.Id }, null)
                </li>
            }
        </ul>
        @Html.ActionLink("See all cuisine »", "CuisinesList", "Restaurant", null, new { @class="more" })
    </div>
    <hgroup class="heading-01"><h2 class="clr-red ">Popular foodies</h2></hgroup>
    <div class="clearfix">
        @Html.Partial("_SuggestedUsersHoriz", new SuggestedUsersViewModel { SuggestedUsers = Model.SuggestedUsers })
    </div>
</div>
</div>

@section Scripts
{
    <script id="recommend-item-template" type="text/template">
        <div class="recommend-item">
            <div class="pull-left">
                <a class="restaurant-img" href="/Restaurant/Details?restaurantId=<%= Id %>"><img src="<%= ImageFullFileName %>"/></a>
            </div>
            <div class="pull-left">
                <a class="restaurant-link" href="/Restaurant/Details?restaurantId=<%= Id %>"><%= Name %></a>
                <% if (Votes.length > 0) { %>
                <span class="restaurant-review">
                    <a class="review-reviewer-photo" href="Manage/ViewProfile?userId=<%= Votes[0].ApplicationUser.Id %>">
                        <img src="<%= Votes[0].ApplicationUser.ImageFullFileName %>" />
                    </a>
                    <span class="review-text">
                        <%=  (Votes[0].ReviewText.length > 120 ? Votes[0].ReviewText.substr(0,120)+'...' : Votes[0].ReviewText)  %>
                    </span>
                </span>
                <% } %>
            </div>
            <span class="restaurant-rating">
                <% if (PercentRate == -1 ) { %>
                <% var percentRateColor = 'grey' %>
                <% } %>
                <% if (PercentRate < 30 && PercentRate > 0) { %>
                <% var percentRateColor = 'rateLower' %>
                <% } %>
                <% if (PercentRate < 50 && PercentRate > 29) { %>
                <% var percentRateColor = 'rateLow' %>
                <% } %>
                <% if (PercentRate < 70 && PercentRate > 49) { %>
                <% var percentRateColor = 'rateMiddle' %>
                <% } %>
                <% if (PercentRate < 90 && PercentRate > 69) { %>
                <% var percentRateColor = 'rateHigh' %>
                <% } %>
                <% if (PercentRate > 89) { %>
                <% var percentRateColor = 'rateHigher' %>
                <% } %>
                <p class="<%= percentRateColor %>Heart"><% if (PercentRate > 0) { %> <%= PercentRate %>% <% } else { %> &mdash; <% } %></p>
            </span>
        </div>
    </script>
    <script id="recommend-title-template" type="text/template">
        <div class="more">
            <a class="pull-left" href="/Restaurant?groupId=<%= slug %>"><%= name %></a>
            <a class="pull-right" href="/Restaurant?groupId=<%= slug %>">See more &raquo;</a>
        </div>
    </script>
    <script>
        $("#subscription-form").validate();
        $(document)
            .ready(function() {
                var recommendTitleTemplate = _.template($('#recommend-title-template').html());
                var recommendItemTemplate = _.template($('#recommend-item-template').html());
                function getRecommend() {
                    var tabContent = $('.tab-pane.active'), collName = tabContent.attr('id');
                    if (tabContent.text().length > 0) {
                        return;
                    }
                    tabContent.loadingIcon('attach');
                    $.ajax({
                        url: '@Url.Action("SearchBusiness", "Restaurant")',
                        type: 'GET',
                        dataType: 'json',
                        // we set cache: false because GET requests are often cached by browsers
                        // IE is particularly aggressive in that respect
                        cache: false,
                        data: { groupId: collName, count: 8 },
                        success: function(data) {
                            $('#' + collName).loadingIcon('detach');
                            tabContent.append(recommendTitleTemplate({
                                slug: collName,
                                name: $('.active a[data-toggle="tab"]').text()
                            }));
                            for (var item in data.Object) {
                                if (data.Object.hasOwnProperty(item)) {
                                    tabContent.append(recommendItemTemplate(data.Object[item]));
                                }
                            }
                        }
                    });
                }
                getRecommend();
                $('a.collection_item[data-toggle="tab"]')
                    .on('shown.bs.tab',
                        function(e) {
                            getRecommend(recommendTitleTemplate);
                        });
            });
    </script>
}