@using redfoodie.Views
@model redfoodie.Models.MessagePostViewModel
@{
    ViewBag.Title = "Create Message";
}
<div data-modal-content-container="1" data-modal-wrapper-class="width_300" id="message">
    <h2>@ViewBag.Title</h2>
        
    @using (Ajax.BeginForm("Post", "Message", new {ViewBag.ReturnUrl}, new AjaxOptions {HttpMethod = "POST", OnBegin = "$('#message').loadingIcon('attach');", OnSuccess = "postSuccess"}, new {role = "form", id = "newform" }))
    {
        @Html.AntiForgeryToken()
        <div id="alert"></div>
        <div class="clearfix">
            <div style="position: relative;">
                @Html.LabelFor(m => m.To, new { @class = "caption", style = "font-weight: normal;margin-bottom:0;display:inline;" })
                @Html.ListBoxFor(m => m.To, true, new List<SelectListItem>(), new { id = "ispg_appbundle_messagestype_sentTo", required = "required", data_placeholder = "Select Users", style = "width: 550px; margin-left: 10px;" })
                @Html.ValidationMessagesFor(m => m.To, new { @class = "text-danger" })
            </div>
            <div class="clearfix"></div>
            @Html.LabelFor(m => m.Message, new { @class="caption", style= "font-weight: normal;margin-bottom:0;display:inline;" })
            <div class="wmd-panel">
                @Html.TextAreaFor(m => m.Message, true, 2, 20, new { id = "ispg_appbundle_messagestype_message", name = "ispg_appbundle_messagestype[message]", required = "required" })
                @Html.ValidationMessagesFor(m => m.Message, new { @class = "text-danger" })
            </div>
            <div class="compose-area clearfix">
                @* ReSharper disable once UnknownCssClass *@
                <span class="sentmsg" data-send="1">
                    <button class="btn bg-red" type="submit" style="color: #fff"><span>Send</span></button>
                </span>
            </div>
        </div>
    }
</div>
@Scripts.Render("~/bundles/chosen")
<script>
    $("#newform").validate();

    function postSuccess(data) {
        $('#message').loadingIcon('detach');
        if (data.Success) {
            $('#message #alert').noty({
                text: 'Message sent',
                dismissQueue: false,
                timeout: 5000,
                template: '<div class="noty_message confirmation-message" style="margin-bottom:0;"><span class="noty_text"></span></div>'
            });
        } else {
            // display errors
            $('#message #alert').noty({
                text: data.ErrorMessage,
                dismissQueue: false,
                template: '<div class="noty_message text-danger" style="margin-bottom:0;"><span class="noty_text"></span></div>'
            });
        }
    }
</script>