@using redfoodie.Views
@model redfoodie.Models.DeactivateViewModel
@{
    ViewBag.Title = "Profile Deactivation Request";
}
<div data-modal-content-container="1" data-modal-wrapper-class="width_400" class="hide" id="deactivate_account" style="display: block !important">
    <section class="container">
        <section class="clearfix">
            @* ReSharper disable UnknownCssClass *@
            <div class="pull-left front-form">
                <h2>@ViewBag.Title</h2>
                @using (Ajax.BeginForm("Deactivate", "Manage", null, new AjaxOptions { HttpMethod = "POST", OnBegin = "$('#deactivate_account').loadingIcon('attach');", OnSuccess = "deactivateSuccess" }, new { id = "deactivate_account_form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="da_alert"></div>
                    <div class="form-filed">
                        @Html.TextAreaFor(m => m.Reason, true, 2, 20, new {style = "resize:vertical;", id = "da_reason", name = "deactivate_account_reason"})
                        @Html.ValidationMessagesFor(m => m.Reason, new {@class = "text-danger"})
                    </div>
                    <p class="clr-grey" style="line-height: 16px">
                        Before you leave, please tell us why you'd like to deactivate your Redfoodie account.
                        This information will help us improve. <span style="color: #aeaeae;">(optional)</span>
                    </p>
                    <button id="btn-account-deactivate" class="button"><span>Submit</span></button>
                    @* ReSharper restore UnknownCssClass *@
                }
            </div>
        </section>
    </section>
</div>
<script>
    $("#deactivate_account_form").validate();
    function deactivateSuccess(data) {
        $('#deactivate_account').loadingIcon('detach');
        if (data.Success) {
            $('#da_alert').noty({
                text: 'Your request has been successfully forwarded to Redfoodie',
                dismissQueue: false,
                timeout: 5000,
                template: '<div class="noty_message confirmation-message" style="margin-bottom:0;margin-top:0;"><span class="noty_text"></span></div>',
                callback: { afterClose: function () { window.location.href = '@Url.Action("Index", "Home")'; } }
            });
        }
        else {
            // display errors
            for (var property in data.ModelState) {
                if (data.ModelState.hasOwnProperty(property)) {
                    if (!property) {
                        $('#da_alert').noty({
                            text: data.ModelState[property].join(" "),
                            dismissQueue: false,
                            template: '<div class="noty_message alert alert-danger" style="margin-bottom:0;margin-top: 0;"><span class="noty_text"></span></div>'
                        });
                    } else {
                        $("#da_" + property + "+span").text(data.ModelState[property].join(" "));
                    }
                }
            }
        }
    }
</script>