@model redfoodie.Models.NotificationSettingsViewModel
@{
    ViewBag.Title = "Email me when";
}
@using (Ajax.BeginForm("NotificationSettings", "Manage", null, new AjaxOptions {HttpMethod = "POST", OnBegin = "$('#notification_settings_form').loadingIcon('attach');", OnSuccess = "notificationSettingsSuccess"}, new {id = "notification_settings_form", @class = "fos_user_registration_register front-form"}))
{
    @Html.AntiForgeryToken()
    <div id="ns_alert"></div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingnotifications">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#notifications" aria-expanded="false" aria-controls="notifications">
                    Notifications preferences
                </a>
            </h4>
        </div>
        <div id="notifications" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingnotifications">
            <div class="panel-body">
                <h4>@ViewBag.Title</h4>
                <ul class="list-unstyled">
                    <li>
                        <label>
                            @Html.CheckBoxFor(m => m.FollowMail, true, new {id = "ns_FollowMail"})
                            <span>@Html.DisplayNameFor(m => m.FollowMail)</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            @Html.CheckBoxFor(m => m.ReplyReviewmail, true, new {id = "ns_ReplyReviewmail"})
                            <span>@Html.DisplayNameFor(m => m.ReplyReviewmail)</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            @Html.CheckBoxFor(m => m.ThanksFavoritemail, true, new {id = "ns_ThanksFavoritemail"})
                            <span>@Html.DisplayNameFor(m => m.ThanksFavoritemail)</span>
                        </label>
                    </li>
                </ul>
                <button type="submit">Save</button>
            </div>
        </div>
    </div>
}
<script>
    $("#notification_settings_form").validate();

    function notificationSettingsSuccess(data) {
        $('#notification_settings_form').loadingIcon('detach');
        if (data.Success) {
            $('#ns_alert').noty({
                text: 'Your changes were saved successfully!',
                dismissQueue: false,
                timeout: 5000,
                template: '<div class="noty_message alert alert-success" style="margin-bottom:0;margin-top:0;"><span class="noty_text"></span></div>'
            });
        } else {
            // display errors
            for (var property in data.ModelState) {
                if (data.ModelState.hasOwnProperty(property)) {
                    if (!property) {
                        $('#ns_alert').noty({
                            text: data.ModelState[property].join(" "),
                            dismissQueue: false,
                            template: '<div class="noty_message alert alert-danger" style="margin-bottom:0;margin-top:0;"><span class="noty_text"></span></div>'
                        });
                    } else {
                        $("#ns_" + property + "+span").text(data.ModelState[property].join(" "));
                    }
                }
            }
        }
    }
</script>