@using redfoodie.Views
@model redfoodie.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<div data-modal-content-container="1" data-modal-wrapper-class="width_400" class="hide" id="change_password">
    <section class="container main-content-area-spacer">
        <section class="dashbord-box01 clearfix">
            <div class="create-account pull-left user-account-edit">
                <h2>@ViewBag.Title</h2>
                @using (Ajax.BeginForm("ChangePassword", "Manage", new AjaxOptions { HttpMethod = "POST", OnBegin = "$('#change_password').loadingIcon('attach');", OnSuccess = "changePasswordSuccess" }, new { id = "change_password_form", @class = "fos_user_change_password front-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="cpf_alert"></div>
                    <div class="form-filed">
                        @Html.PasswordFor(m => m.OldPassword, new { required = "required", title = Html.DisplayNameFor(m => m.OldPassword), placeholder = Html.DisplayNameFor(m => m.OldPassword), autocomplete="off" })
                        @Html.ValidationMessagesFor(m => m.OldPassword, new { @class = "text-danger" })
                    </div>
                    <div class="form-filed">
                        @Html.PasswordFor(m => m.NewPassword, new { required = "required", title = Html.DisplayNameFor(m => m.NewPassword), placeholder = Html.DisplayNameFor(m => m.NewPassword) })
                        @Html.ValidationMessagesFor(m => m.NewPassword, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { required = "required", title = Html.DisplayNameFor(m => m.ConfirmPassword), placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) })
                        @Html.ValidationMessagesFor(m => m.ConfirmPassword, new { @class = "text-danger" })
                    </div>
                    <button type="submit" class="btn btn-change small-btn" value="Change password"><span>Submit</span></button>
                }
            </div>
        </section>
    </section>
</div>
<script>
    function changePasswordSuccess(data) {
        $('#change_password').loadingIcon('detach');
        if (data.Success) {
            $('#cpf_alert').noty({
                text: 'Login password changed successfully',
                dismissQueue: false,
                timeout: 5000,
                template: '<div class="noty_message confirmation-message" style="margin-bottom:0;margin-top:0;"><span class="noty_text"></span></div>'
            });
        }
        else {
            // display errors
            for (var property in data.ModelState) {
                if (data.ModelState.hasOwnProperty(property)) {
                    if (!property) {
                        $('#cpf_alert').noty({
                            text: data.ModelState[property].join(" "),
                            dismissQueue: false,
                            template: '<div class="noty_message alert alert-danger" style="margin-bottom:0;margin-top: 0;"><span class="noty_text"></span></div>'
                        });
                    } else {
                        $("#cpf_" + property + "+span").text(data.ModelState[property].join(" "));
                    }
                }
            }
        }
    }
</script>