@using redfoodie.Views
@model redfoodie.Models.InviteFriendsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/invite")
<div class="globalwidth clearfix invite">
    <h2 style="text-align: center">
        Get free food vouchers and invites to foodie meet-ups every month by inviting
        your friends to Redfoodie!
    </h2>

    <div class="clearfix" style="text-align: center; margin: 20px 0">
        <img src="/Content/collections/imgs/invite.svg" alt="Invite">
    </div>
    <p class="clr-grey">Invite whoever's missing ask your frinds to join you on Redfoodie</p>
    <div class="clearfix bdr_btm" style="padding: 20px 0">
        <div class="socials-connects fb">
            <div class="input-group">
                <span class="input-group-addon"><img src="/Content/collections/imgs/facebook-invite.svg" alt="Facebook Invite"></span>
                <button class="form-control btn btn-default clr-grey" type="button">Connect with Facebook</button>
            </div>
            <p class="clr-grey">We'll only import your contacts, and won't send any invites at this step</p>
        </div>
        <div class="socials-connects mail">
            <div class="input-group">
                <span class="input-group-addon"><img src="/Content/collections/imgs/email-invite.svg" alt="Email Invite"></span>
                @Html.TextBoxFor(m => m.Email, true, null, new { @class = "form-control email-invite", placeholder = Html.DisplayNameFor(m => m.Email), autocomplete = "off", type = "email" })
                @Html.ValidationMessagesFor(m => m.Email, new { @class = "text-danger" })
                <span class="input-group-btn">
                    <button class="btn btn-default  send-email-invite" type="button"><span>Send invite</span></button>
                </span>
            </div>
            <p class="clr-grey">Just so you know: We never email your contacts without your say so.</p>
        </div>
    </div>

    <div class="clearfix bdr_btm" style="padding: 20px 0">
        <p class="clr-grey">Name or Redfoodie username</p>
        <div class="socials-connects search">
            <div class="input-group">
                @Html.TextBoxFor(m => m.SearchUsers, true, null, new {@class="form-control", placeholder=Html.DisplayNameFor(m => m.SearchUsers), id="searchUsers"})
                @Html.ValidationMessagesFor(m => m.SearchUsers, new { @class = "text-danger" })
                <span class="input-group-addon" id="search-redfoodies-button"><i class="redfood-icon redfood-invite-search clr-red"></i></span>
            </div>
            <div class="socials-connects-search-dpdwn" id="socials-connects-search-dpdwn" style="display: none;">
                <ul></ul>
            </div>
        </div>
    </div>

    <div style="padding: 20px 0">
        <p class="clr-grey">Suggested Redfoodie to follow</p>
        <ul class="list-unstyled users-list-short">
            <li>
                <figure class="user-photo">
                    <a href="/users/105062907804598117668/profile"><img src="/uploads/thumbs/user/105062907804598117668/146x146_ea221f441971898ed7612dac91516792237abec8.jpg" height="146" width="146" alt="Himanshu Mehra" title="Himanshu Mehra"></a>
                </figure>
                <div class="user-name">
                    <a class="user-name" href="/users/105062907804598117668/profile">Himanshu</a>
                </div>
                <div class="button followed follow" data-prototype="105062907804598117668" data-follow-status="follow"><a href="#" class="anim-top pos_relative">Follow</a></div>
            </li>
            <li>
                <figure class="user-photo">
                    <a href="/users/117092079021640639172/profile"><img src="/uploads/thumbs/user/117092079021640639172/146x146_3895ab052e2b2d7e7f687b148d09784be62d0bd2.jpg" height="146" width="146" alt="Aman Sawhney" title="Aman Sawhney"></a>
                </figure>
                <div class="user-name">
                    <a class="user-name" href="/users/117092079021640639172/profile">Aman</a>
                </div>
                <div class="button followed follow" data-prototype="117092079021640639172" data-follow-status="follow"><a href="#" class="anim-top pos_relative">Follow</a></div>
            </li>
            <li>
                <figure class="user-photo">
                    <a href="/users/100894947180715866681/profile"><img src="/uploads/thumbs/user/100894947180715866681/146x146_90752a997c07ceeab51c6e827e828ba9d4152347.jpg" height="146" width="146" alt="tanisha wadhawan" title="tanisha wadhawan"></a>
                </figure>
                <div class="user-name">
                    <a class="user-name" href="/users/100894947180715866681/profile">tanisha</a>
                </div>
                <div class="button followed follow" data-prototype="100894947180715866681" data-follow-status="follow"><a href="#" class="anim-top pos_relative">Follow</a></div>
            </li>
            <li>
                <figure class="user-photo">
                    <a href="/users/raman-416/profile"><img src=@Url.Content("/Content/collections/imgs/user.svg") height="146" width="146" alt="Raman " title="Raman "></a>
                </figure>
                <div class="user-name">
                    <a class="user-name" href="/users/raman-416/profile">Raman</a>
                </div>
                <div class="button followed follow" data-prototype="raman-416" data-follow-status="follow"><a href="#" class="anim-top pos_relative">Follow</a></div>
            </li>
            <li>
                <figure class="user-photo">
                    <a href="/users/111-417/profile"><img src=@Url.Content("/Content/collections/imgs/user.svg") height="146" width="146" alt="111 " title="111 "></a>
                </figure>
                <div class="user-name">
                    <a class="user-name" href="/users/111-417/profile">111</a>
                </div>
                <div class="button followed follow" data-prototype="111-417" data-follow-status="follow"><a href="#" class="anim-top pos_relative">Follow</a></div>
            </li>
            <li>
                <figure class="user-photo">
                    <a href="/users/veggie-foodie-418/profile"><img src=@Url.Content("/Content/collections/imgs/user.svg") height="146" width="146" alt="Veggie Foodie " title="Veggie Foodie "></a>
                </figure>
                <div class="user-name">
                    <a class="user-name" href="/users/veggie-foodie-418/profile">Veggie Fo...</a>
                </div>
                <div class="button followed follow" data-prototype="veggie-foodie-418" data-follow-status="follow"><a href="#" class="anim-top pos_relative">Follow</a></div>
            </li>
            <li>
                <figure class="user-photo">
                    <a href="/users/109762608901507583056/profile"><img src="/uploads/thumbs/user/109762608901507583056/146x146_83188930403289bc7d000dbb7cf3d23abba7b065.jpg" height="146" width="146" alt="shubhit mathur" title="shubhit mathur"></a>
                </figure>
                <div class="user-name">
                    <a class="user-name" href="/users/109762608901507583056/profile">shubhit</a>
                </div>
                <div class="button followed follow" data-prototype="109762608901507583056" data-follow-status="follow"><a href="#" class="anim-top pos_relative">Follow</a></div>
            </li>
            <li>
                <figure class="user-photo">
                    <a href="/users/110312489067191127646/profile"><img src="/uploads/thumbs/user/110312489067191127646/146x146_59ddd4da88e22525b47ef2f965c03e96faf6012d.jpg" height="146" width="146" alt="Amit Suri" title="Amit Suri"></a>
                </figure>
                <div class="user-name">
                    <a class="user-name" href="/users/110312489067191127646/profile">Amit</a>
                </div>
                <div class="button followed follow" data-prototype="110312489067191127646" data-follow-status="follow"><a href="#" class="anim-top pos_relative">Follow</a></div>
            </li>
        </ul>
    </div>
</div>