@using Microsoft.AspNet.Identity
@using redfoodie.Models
@model ViewProfileViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/view-profile/css")
<div class="clearfix font_roman pad_110 globalwidth clearfix">
<div class="profile-left pull-left">
    <div class="img-wrap" style="margin: 0 auto;">
        <div class="profile-image">
            <a data-modal-link="1" href="#imagePopup" id="image-uploading"><img src="@Url.Content(Model.User.ImageFullFileName)" height="146" width="146" alt="@Model.User.UserName" title="@Model.User.UserName"><span>Change Profile Image</span></a>
        </div>
    </div>
    <div class="profile-wrap clearfix">
        <div class="profile-info">
            <a class="name" href="#" data-sc-user-profile="username" title="@Model.User.UserName">@Model.User.UserName</a>
            <div class="profile-dtail">
                <span class="fa fa-map-marker tooltipclass" data-toggle="tooltip" data-original-title="home location" style="margin: 0;font-size: 18px;"></span>
                <span>@Model.User.City.Name</span>
                <div class="links clearfix style-01">
                    @if (Request.IsAuthenticated)
                    {
                        if (string.Equals(User.Identity.GetUserId(), Model.User.Id))
                        {
                            <div class="button followed follow">
                                @Html.ActionLink("Settings", "ProfileSettings", "Manage", null, null)
                            </div>
                        }
                        else
                        {
                            var follow = Model.Followers.Any(m => string.Equals(m.Id, User.Identity.GetUserId()));
                            <div class="button followed @(follow ? "following" : "follow")" data-prototype=@($"{Model.User.UserName.ToLower()}-{Model.User.Birthday.Year}") data-follow-status=@(follow ? "follow" : "unfollow")>
                                @Ajax.ActionLink(follow ? "Following" : "Follow", "Follow", "Manage", new {userName = Model.User.UserName, year = Model.User.Birthday.Year}, new AjaxOptions {HttpMethod = "POST", OnBegin = "$(this).parent().loadingIcon('attach');", OnSuccess = "followSuccess"}, new {@class = "anim-top pos_relative"})
                            </div>
                        }
                    }
                    else
                    {
                        <div class="button followed follow">
                            <a data-modal-link="1" class="anim-top pos_relative" href="#login" rel="login">Follow</a>
                        </div>
                    }
                </div>
            </div>
            <div class="rating-distribution">
                <strong> Rating Distribution</strong>
                <ul class="list-unstyled">
                    <li>
                        <span class="pull-left">Likes</span>
                        <div class="progress">
                            <div class="progress-bar rate-red" aria-valuenow="@Model.LikesPercent" aria-valuemin="0" aria-valuemax="100" style="width: @Model.LikesPercent%;">
                                <span class="sr-only">@Model.LikesPercent%</span>
                            </div>
                        </div>
                        <span class="count pull-right">@Model.Likes</span>
                    </li>
                    <li>
                        <span class="pull-left">Dislikes</span>
                        <div class="progress">
                            <div class="progress-bar rate-grey" role="progressbar" aria-valuenow="@Model.DislikesPercent" aria-valuemin="0" aria-valuemax="100" style="width: @Model.DislikesPercent%;">
                                <span class="sr-only">@Model.DislikesPercent%</span>
                            </div>
                        </div>
                        <span class="count pull-right">@Model.Dislikes</span>
                    </li>
                </ul>
            </div>
            <div class="profile-wrap">
                <div class="profile-dtail" style="border-bottom:none; padding-top: 20px">
                    <span class="fa fa-clock-o tooltipclass" data-toggle="tooltip" data-original-title="Started using Redfoodie Nov 08, 2016"></span><span style="vertical-align: top;">Redfoodie since Nov 2016</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profile-center pull-left">
<div class="prof-dtail clearfix ">
<div class="nav-top">
    <ul class="nav nav-tabs rest_tab clearfix user-tabs  nav-justified">
        <li class="active"><a data-toggle="tab" href="#reviews"><strong>0</strong><br>ReviewTextTexts</a></li>
        <li><a data-toggle="tab" href="#photos" data-hasclicked="false"><strong>0</strong><br>Photos</a></li>
        <li><a data-toggle="tab" data-hasclicked="false" href="#networks"><strong class="follower-count">@Model.Followers.Count</strong><br>Followers</a></li>
        <li><a data-toggle="tab" data-hasclicked="false" href="#wishlist"><strong>0</strong><br>Bookmarks</a></li>
        <li><a data-toggle="tab" data-hasclicked="false" href="#likes"><strong>@Model.Likes</strong><br>Likes</a></li>
        <li><a data-toggle="tab" data-hasclicked="false" href="#stats"><strong>0</strong><br>Points</a></li>
    </ul>
</div>

<div class="tab-content">
<div id="home" class="tab-pane fade in active">
</div>

<div id="reviews" class="tab-pane fade in active">
    <div class="top-head clearfix">
        <span class="pull-left large" style="color: #8D8D8D;"></span>
        <div class="pull-right small reviews-small">
            <a href="#overview-reviews" data-toggle="tab" id="user-reviews" class="active">ReviewTextTexts<span class="arrow_box"></span></a>
            <a href="#overview-ratings" data-toggle="tab" data-hasclicked="false" id="user-ratings">Likes/Dislikes<span class="arrow_box"></span></a>
        </div>
    </div>

    <div class="tab-content">
        <div id="overview-reviews" class="tab-pane user-reviews-all active" style="min-height:200px;">

            <div class="" id="user-restaurant-review-listing">
                <div class="no-networks">
                    You haven't created any notes yet. Why not write some? It's your turn to be the critic.
                </div>
            </div>


        </div>

        <div id="overview-ratings" class="tab-pane">

            <div class="profile_networks-2 user-ratings-all clearfix" style="min-height:200px;">
                <div id="user-restaurant-rating-listing" class="profile-dsc">
                </div>
                <div class="load_more" style="display:block;float:left;width:100%;padding:20px;">
                    <a class="btn anim-top mgn_t10" style="display: none;"> LOAD MORE <span class="load-more-count"></span></a>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="networks" class="tab-pane fade">
    <div class="top-head clearfix">
        <span class="pull-left large" style="color: #8D8D8D;">User Networks</span>
        <div class="pull-right small networks-small">
            <a href="#network-user-followers" data-toggle="tab" id="user-profile-followers" class="active">Followers @Model.Followers.Count<span class="arrow_box"></span></a>
            <a href="#network-user-following" data-toggle="tab" data-hasclicked="false" id="user-profile-followings">Followings @Model.Followings.Count<span class="arrow_box"></span></a>
        </div>
    </div>
    <div class="user-networks tab-content">
        <div class="tab-pane active" id="network-user-followers">
            <div class="profile_networks-1  clearfix" id="network-user-followers" style="height:200px;padding: 10px 20px">
                <div class="profile_followers style-01" style="display: block;">
                    @foreach (var user in Model.Followers)
                    {
                        <div class="user-details-wrapper">
                            <figure class="user-image">
                                <a href=@Url.Action("ViewProfile", "Manage", new { userId = user.Id })>
                                    <img src=@Url.Content(user.ImageFullFileName) alt="@user.UserName" title="@user.UserName">
                                </a>
                            </figure>
                            <div class="user-details">
                                <div class="user-name">
                                    <a title=@user.UserName href=@Url.Action("ViewProfile", "Manage", new { userId = user.Id })>
                                        @user.UserName
                                    </a>
                                </div>
                                <div class="clearfix user-rank">
                                    <div class="button pull-left followed @(user.Follow ? "following": "follow")" data-prototype="@user.UserName.ToLower()" data-follow-status=@(user.Follow? "follow": "unfollow")>
                                        @if (Request.IsAuthenticated)
                                        {
                                            @Ajax.ActionLink(user.Follow ? "Following" : "Follow", "Follow", "Manage", new { userId = user.Id }, new AjaxOptions { HttpMethod = "POST", OnBegin = "$(this).parent().loadingIcon('attach');", OnSuccess = "followSuccess" }, new { @class = "anim-top pos_relative" })
                                        }
                                        else
                                        {
                                            <a data-modal-link="1" class="anim-top pos_relative" href="#login" rel="login">Follow</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="load_more" style="display: block; float: left; width: 100%">
                    <a class="btn anim-top mgn_t10" style="display: none;"> LOAD MORE <span class="load-more-count"></span></a>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="network-user-following">
            <div class="profile_networks-2 clearfix" style="height:200px;padding: 10px 20px">
                <div class="profile_followings style-01" style="display: block;">
                    @foreach (var user in Model.Followings)
                    {
                        <div class="user-details-wrapper">
                            <figure class="user-image pull-left">
                                <a href=@Url.Action("ViewProfile", "Manage", new { userId = user.Id })>
                                    <img src=@Url.Content(user.ImageFullFileName) alt="@user.UserName" title="@user.UserName">
                                </a>
                            </figure>
                            <div class="user-details">
                                <div class="user-name">
                                    <a title="@user.UserName" href=@Url.Action("ViewProfile", "Manage", new { userId = user.Id })>
                                            @user.UserName
                                    </a>
                                </div>
                                <div class="clearfix user-rank">
                                    <div class="button pull-left followed @(user.Follow ? "following": "follow")" data-prototype="@user.UserName.ToLower()" data-follow-status=@(user.Follow? "follow": "unfollow")>
                                        @if (Request.IsAuthenticated)
                                        {
                                            @Ajax.ActionLink(user.Follow ? "Following" : "Follow", "Follow", "Manage", new { userId = user.Id }, new AjaxOptions { HttpMethod = "POST", OnBegin = "$(this).parent().loadingIcon('attach');", OnSuccess = "followSuccess" }, new { @class = "anim-top pos_relative" })
                                        }
                                        else
                                        {
                                            <a data-modal-link="1" class="anim-top pos_relative" href="#login" rel="login">Follow</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="load_more" style="display: block; float: left; width: 100%">
                    <a class="btn anim-top mgn_t10" style="display: none;"> LOAD MORE <span class="load-more-count"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="compliments" class="tab-pane fade">
</div>

<div id="photos" class="tab-pane fade">
    <div>
        <div class="user-photos-container clearfix" id="user-photos" style="/*width: 681px;*/height: 300px; padding: 20px 10px">

            <ul id="user_profile_photos" class="restaurant-review-images list-unstyled photo_thumb clearfix"></ul>

            <div class="load_more" style="display: block; float: left; width: 100%">
                <a class="btn anim-top mgn_t10" style="display: none;"> LOAD MORE <span class="load-more-count"></span></a>
            </div>
        </div>
    </div>

</div>

<div id="likes" class="tab-pane fade">
    <div class="user-favorites">
        <div class="user-likes clearfix" id="user-likes" style="height: 300px; padding: 20px">
            <div class="user_profile_lkes" style="display: block;">
                @foreach (var restaurant in Model.LikesRestaurant)
                {
                    <div class="clearfix user-restaurant-review">
                        <figure class="user-image pull-left  restaurant-review-logo">
                            <a href=@Url.Action("Details", "Restaurant", new { restaurantId = restaurant.Id })>
                                <img src=@Url.Content(restaurant.ImageFullFileName) alt="@restaurant.Name" title="@restaurant.Name">
                            </a>
                        </figure>
                        <div class="user-details">
                            <div class="user-name">
                                @Html.ActionLink(@restaurant.Name, "Details", "Restaurant", new { restaurantId = restaurant.Id }, new { @class="restaurant-name" })
                            </div>
                            <div class="user-stats">
                                <span class="user-stat restaurant-locality">
                                    @Html.ActionLink(restaurant.Place.Name, "Index", "Restaurant", new {placeId = restaurant.Place.Id}, null),
                                    @Html.ActionLink(restaurant.Place.City.Name, "Index", "Restaurant", new { cityId = restaurant.Place.City.Id }, null),
                                </span>
                            </div>
                            <div class="user-stats user-like restaurant-rating" data-prototype="cuisines">
                                <p class=@restaurant.HeartClass>@restaurant.PercentRate%</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="load_more" style="display: block; float: left; width: 100%">
                <a class="btn anim-top mgn_t10" style="display: none;"> LOAD MORE <span class="load-more-count"></span></a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="profile-randoms pull-left">
    @Html.Partial("_SuggestedUsers", new SuggestedUsersViewModel { SuggestedUsers = Model.SuggestedUsers })
</div>
<div class="review-box">
</div>
<div id="myModalRF">
    <div aria-hidden="false" aria-labelledby="mySmallModalLabel" role="dialog" tabindex="-1" class="modal fade myModalRF-BP in" style="display: none;">
        <div class="modal-dialog modal-sm" style="width: 285px;">
            <div class="modal-content" style="border-radius: 0;">

                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="mySmallModalLabel" class="modal-title">People who useful this</h4>
                </div>
                <div class="modal-body clearfix pad_t12" style="max-height: 300px;overflow: auto;">

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
<div id="myModalReviewEdit">
    <div aria-hidden="false" aria-labelledby="mySmallModalLabel" role="dialog" tabindex="-1" class="modal fade myModalRfEdit in" style="display: none;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="width:600px !important">

                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h3 id="mySmallModalLabel" class="modal-title">Edit your review</h3>
                </div>
                <div class="modal-body clearfix pad_t12">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function($) {
            $('.profile-dtail .tooltipclass').tooltip({ 'placement': 'bottom' });
            $('#user-profile-followings').on('click', function (e) {
                $(this).addClass('active');
                $('.networks-small').find('a').not('#' + $(this).attr('id')).removeClass('active');
            });
            $('#user-profile-followers').click(function () {
                $(this).addClass('active');
                $('.networks-small').find('a').not('#' + $(this).attr('id')).removeClass('active');
            });
         });
    </script>
}